*
{
    margin: 0;
    padding: 0;
}
body 
{
    font-family: "Jersey 10", sans-serif;
    background-color: black;
    color: azure;
    text-align: center;
    font-size: 3em;
}
.hodnoty
{
    color: cornflowerblue;
}
button, input 
{
    color: red;
    background-color: darkslategray;
    font-family: "Jersey 10", sans-serif;
    font-size: 4em;
    margin: 0.1em;
    width: 60%; 
    max-width: 300px; 
}
#f
{
    font-size: 6em;
}
#rovnitko
{
    height: 90%;
    width: 30%;
}
h2
{
    text-decoration: underline;
}
