body
{
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", sans-serif;
    color: aliceblue;
    background-color: black;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
    display: block;
}

body::after {
    content: "";
    background-image: url(../multimedia/drive.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.15;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}
button
{
    font-family: "Jersey 10", sans-serif;
    border: 3px solid blue;
    border-radius: 4px;
    font-size: 3em;
    position: relative;
    top: 200px;
    font-size: 5em;
}
button:hover
{
    color: aliceblue;
    background-color: black;
}
h1
{
    position: relative;
    top: 1.5em;
    font-size: 7em;
    opacity: 1;
}