#telicko
{
    color: gainsboro;
    background-color: black;
    overflow: hidden;
    display: block;
}
*
{
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", sans-serif;
    color: forestgreen;
    opacity: 2;
    z-index: -1000;
}
#seznam
{
    text-align: center;
    top: 15vi;
}
#text
{
    display: block;
    flex-direction: column;
    align-items: baseline;
    min-width: 100%;
}
video
{
    position: absolute;
    opacity: 0.5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.jersey-10-regular 
{
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    font-style: normal;
    size: 1500px;
}
h1
{
    position: relative;
    font-size: 10.75vw;
    left: 9vw;
}
h2
{
    position: relative;
    font-size: 6vw;
    left: -5em;
}
ul
{
    font-size: 7vw;
}
li
{
    position: relative;
    font-size: 0.5em;
    top: 50%;
    left: -6em;
    text-align: center;
    z-index: 1;
}
ul, li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-direction: row;
}
footer 
{
    color: forestgreen(10, 110, 10);
    position: absolute;
    bottom: 0;
    height: 1.2rem;
    right: 0;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.gosling
{
    position: relative;
    z-index: 1;
    top: 0vh;
    left: -5em;
    font-size: 0.5em;

}
.guns
{
    position: relative;
    z-index: 1;
}
#krivka
{
    position: relative;
    z-index: 1;
    left: -5em;
    font-size: 0.5em;
}
#ruleta
{
    position: relative;
    z-index: 1;
    left: -6em;
    font-size: 0.5em;
}
li:hover
{
    color: darkgrey;
}
a 
{
    text-decoration: none;
    text-align: center;
}
a:hover
{
    color: darkgrey;
}
#prvni
{
    font-size: 0.9em;
    margin-inline-start: 120px;
}
#vice
{
    font-size: 0.7em;
    margin-inline-start: 100px;
}
#vice:hover
{
    color: forestgreen;
}


[class*="col-"] {
    width: 100%;
}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
